/*************** Reset *********************/
* {
  margin: 0rem;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.category_list_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.category_list_container a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  align-items: center;
}

.produkter {
  background-color: blue;
  padding: 4rem;
  border-radius: 20px;
}

.category_list_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 5rem;
}

@media (min-width: 750px) {
  .category_list_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

.produkt {
  display: grid;
  grid-row: span 4;
  grid-template-rows: subgrid;
}

.sold_out {
  opacity: 30%;
}

.sold_out_box {
  position: absolute;

  background-color: gray;
  color: black;
  padding: 1rem;
}

.discount {
  background-color: red;
  color: black;
  width: 15%;
  margin-left: auto;
}

.grey_box {
  background-color: rgb(207, 207, 207);
  color: white;
  border-radius: 20px;
  padding-inline: 30px;
}

.produkt_information {
  padding: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tekst_stykke {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.basket_knap {
  padding: 8px;
  padding-inline: 100px;
  background-color: blue;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  position: relative;
  top: 10%;
}

.produkt_information_child {
  display: grid;
  grid-row: span 3;
   position: relative;
}

test